.dashboard-table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-table th,
.dashboard-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.dashboard-table th {
  background-color: #34495e;
  color: white;
}
