.form-card {
  width: 400px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

input, textarea {
  width: 100%;
  margin: 8px 0 15px;
  padding: 8px;
}

button {
  background: #27ae60;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}
